.container{
    background-color:maroon;
    color:white;
    width:580px;
    height:400px;
    text-align:center;
    margin:120px;
}
body{
display:flex;
text-align:left;
justify-content:left;
background-image:url('images/pexels-george-dolgikh-551816-1303081.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.container{
    border:10px solid;
    border-image-source: repeating-linear-gradient(
        45deg, /* Angle of the stripes */
        rgb(1, 59, 1), /* First color */
        rgb(1, 59, 1) 10px, /* Width of the green stripe */
        rgb(82, 1, 1) 10px, /* Transition to second color */
        rgb(82, 1, 1) 20px /* Width of the red stripe */
      );
      border-image-slice: 1; /* Ensures the stripes repeat properly */
}
.container h3{
    font-family:"Georgia";
    font-size:2em;
    font-weight:bolder;
}
.container h2{
    font-family:"Georgia";
    font-size:2em;
}
.container h1{
    color:rgb(1, 59, 1);
    font-family:"Georgia";
    font-size:2em;
}
.container h5{
    font-family:Georgia;
    font-size:2em;
}
