#image{
    display:block;
    justify-content:center;
    text-align:center;
    max-width:70%;
    height:auto;
    margin:0 auto;
    padding:15px;

}
body{
    background-color:white;
   
}
#main{
    background-color: rgb(227, 226, 226);
}
#title{
    font-family: 'Inter', sans-serif;
    font-size: medium;
    display:block;
    justify-content:center;
    text-align:center;
    padding:15px;
    margin:5px;
}
#img-caption{
     display:block;
    justify-content:center;
    text-align:center;
}
.hi{
    background-color: rgb(255, 255, 255);
    margin-right:210px;
    margin-left:210px;
    padding-bottom:15px;
    border:solid  rgb(255, 255, 255);
    border-radius:3px;
}
#tribute-info{
    padding-right:100px;
    padding-left:100px;
    padding:20px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    max-width:800px;
    margin:auto;
    text-align:justify;
}
.last{
    font-size:medium;
    font-weight:bold;
    padding-top:5px;
}